<div class="toc-contents">
  <ul>
    <li>
      <div class="toc-item">
        <a href="&#10;                        https://www.ebay.com/b/Vehicle-Electronics-GPS/3270/bn_887004https://www.ebay.com/itm/4-2-5D-HD-1080P-Dual-Lens-Car-DVR-Video-Recorder-Dash-Cam-G-Sensor-Rear-Camera/274125166463?hash=item3fd322177f:g:ahsAAOSwnd9d5fGg">
          <h1>4" 2.5D HD 1080P Dual Lens Car DVR Video Recorder Dash Cam G-Sensor &#65291;Rear Camera</h1>
        </a>
        <p>price: 14.88</p>
        <p>shipping: $1.51 shipping</p>
        <p>Answers: </p>
        <a href="&#10;                    https://www.ebay.com/b/Vehicle-Electronics-GPS/3270/bn_887004">
          <p>Image link&lt;span class="s-item__price"&gt;$21.99&lt;/span&gt;</p>
        </a>
        <p>offer: Shipping</p>
        <p>location: Ukraine</p>
        <p>hotness: </p>
      </div>
    </li>
  </ul>
</div>
